<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/about">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>
        <button mat-button mat-icon-button (click)="sidenav.toggle()">
          <i class="material-icons">menu</i>
        </button>
      </span>
      <span class="spanmiddle"></span>
      <span>
        <small>Onejohi Tony</small>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
